.button {
  border: none;
  background-color: var(--Elements-Neb-Ultra);
  color: var(--White);
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--Elements-Neb-Ultra-110);
}


.buttonInner {
  position: relative;
  padding: 12px;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  white-space: nowrap;
}

.buttonIcon {
  height: 0.5rem;
  transition: 0.3s ease-out;
}
