.emailIcon,
.checkIcon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.emailIcon {
  background-image: url('/img/email.svg');
}

.checkIcon {
  background-image: url('/img/check.svg');
}

.root {
  border: 1px solid #dcfce7;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  padding: 2rem 1rem;
  background-image: linear-gradient(to right, #f8fafc, #f0fdf4);
  text-align: center;
}

.root h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #111827;
  margin: 0.5rem 0;
}

.root p {
  color: #4b5563;
  line-height: 1.4;
  margin: 0;
}

.root form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0.75rem;
  gap: 0.75rem;
  width: 100%;
}

.root form input {
  height: 32px;
  font-family: inherit;
  flex: 1;
  display: block;
  border: 1px solid #d1d5db;
  border-radius: 0.625rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
}

.root form input:focus {
  outline: none;
  border: 1px solid #4ade80;
  box-shadow: 0 0 0 2px #bbf7d0;
}

.root .note {
  font-size: 0.875rem;
}

.root ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  row-gap: 0.1rem;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

.root ul li {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #4b5563;
  font-weight: 500;
}

.root ul li::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url('/img/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
