/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/fonts/AtlasGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/fonts/AtlasGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/fonts/AtlasGrotesk-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  display: swap;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/fonts/AtlasGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/fonts/AtlasGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  display: swap;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* navbar */
  --ifm-navbar-height: 81px;

  /* custom */
  --bentoml-font-family:
    'AtlasGrotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bentoml-body-offset: 3rem;
}

a:hover {
  text-decoration: none;
}

article p {
  font-family: 'Inter', sans-serif;
}

.markdown > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(17, 24, 39);
  margin-top: 0;
}

.markdown a {
  text-decoration: none;
}

.markdown > p,
.markdown > ul li,
.markdown > ol li {
  font-size: 18px;
  line-height: 32px;
  color: rgb(55, 65, 81);
  margin-bottom: 24px;
}

.markdown > ul li,
.markdown > ol li {
  margin: 12px 0;
}

.markdown .theme-code-block {
  margin-bottom: 32px;
}
